<template>
  <div class="add">
    <div class="left"><Content :content="content"></Content></div>
    <div class="right">
      <div class="box">
        <el-dropdown>
          <el-button type="primary" size="medium">
            标题<i class="el-icon-arrow-down el-icon--right"></i>
          </el-button>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item>
              <div class="title-1" @click="show(1, 1)">标题样式一</div>
            </el-dropdown-item>
            <el-dropdown-item
              ><div class="title-2" @click="show(1, 2)"
                >标题样式二</div
              ></el-dropdown-item
            >
            <el-dropdown-item
              ><div class="title-3" @click="show(1, 3)"
                >标题样式三</div
              ></el-dropdown-item
            >
          </el-dropdown-menu>
        </el-dropdown>

        <el-dropdown>
          <el-button type="primary" size="medium">
            图片<i class="el-icon-arrow-down el-icon--right"></i>
          </el-button>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item>
              <div class="img-1" @click="show(2, 1)">图片样式一</div>
            </el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>

        <el-dropdown>
          <el-button type="primary" size="medium">
            特殊字符<i class="el-icon-arrow-down el-icon--right"></i>
          </el-button>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item>
              <div class="char-1" @click="show(3, 1)">特殊字符样式一</div>
            </el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>

        <el-dropdown>
          <el-button type="primary" size="medium">
            代码块<i class="el-icon-arrow-down el-icon--right"></i>
          </el-button>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item>
              <div class="code-1" @click="show(4, 1)">代码块样式一</div>
            </el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>

      <el-input
        type="textarea"
        ref="input"
        :rows="40"
        v-model="value"
      ></el-input>
    </div>
  </div>
</template>

<script>
import Content from '@/components/Content.vue'
export default {
  name: 'Add',
  components: {
    Content
  },
  data() {
    return {
      value: '',
      content: '',
      tabPosition: ''
    }
  },
  computed: {},
  watch: {
    value(val) {
      this.content = this.handelContent(val)
    }
  },
  mounted() {},
  methods: {
    //处理内容转换成标签
    handelContent(content) {
      const reg = /\d+\(([^$]*)\)/g
      this.contentList = content.match(reg)
      console.log(this.contentList, 'contentList')
      return this.replaceContent(content)
    },
    //将匹配出来的字符串替换
    replaceContent(content) {
      this.contentList &&
        this.contentList.forEach(item => {
          item = item + '$'
          const { text, type } = this.spiltContent(item)
          switch (item[0]) {
            //标题类
            case '1':
              content = content.replaceAll(
                item,
                `<div class="title-${type}">${text}</div>`
              )
              break
            //图片类
            case '2':
              content = content.replaceAll(
                item,
                `<img class="img-${type}" src="${text}" alt=""/>`
              )
              break
            //特殊字符类
            case '3':
              content = content.replaceAll(
                item,
                `<div class="char-${type}">${text}</div>`
              )
              break
            //代码类
            case '4':
              content = content.replaceAll(
                item,
                `<div class="code-${type}">${text}</div>`
              )
              break
          }
        })
      return content
    },
    //分离出内容和类型
    spiltContent(item) {
      const text = item.substring(item.indexOf('(') + 1, item.length - 2)
      console.log(text, 'text')
      const type = item.substring(1, item.indexOf('(')) || 1
      return {
        text,
        type
      }
    },
    //标题代码块
    show(type, type1) {
      if (type !== 3 && this.value) {
        this.value += `\n`
      }
      this.value += `${type}${type1}()$`
    }
  }
}
</script>
<style lang="less">
.add {
  display: flex;
  height: 100%;
  .left {
    flex: 1;
  }
  .right {
    border-left: 2px dashed #999;
    flex: 1;
    padding: 20px;
    .box {
      .el-dropdown {
        margin: 0 20px 20px;
      }
    }
  }
}
//标题类
.title-1 {
  font-size: 28px;
  font-weight: bold;
  color: #2674ba;
}
.title-2 {
  font-size: 26px;
  font-weight: bold;
  color: #0099cc;
}
.title-3 {
  font-size: 24px;
  font-weight: bold;
  color: #f77a0b;
}
//图片类
.img-1 {
}
//特殊字符类
.char-1 {
  display: inline-block;
  padding: 2px 6px;
  background-color: #f7f7f7;
  font-size: 12px;
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}
//代码类
.code-1 {
  border-radius: 3px;
  padding: 14px 16px;
  background: #f7f8f9;
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}
</style>
