<template>
  <div class="home">
    <!-- 新增数据 -->
    <el-button class="add" type="primary" size="small" @click="add"
      >新增</el-button
    >
    <!-- 导航栏 -->
    <Nav class="nav" :totalList="totalList" @select="select"></Nav>
    <!-- 内容 -->
    <Content class="content" :content="content"></Content>
  </div>
</template>

<script>
import Nav from '@/components/Nav.vue'
import Content from '@/components/Content.vue'
import total from '../static/total'
export default {
  name: 'Home',
  components: {
    Nav,
    Content
  },
  data() {
    return {
      //目录列表
      totalList: [],
      //当前内容
      content: '',
      //当前分割数组
      contentList: []
    }
  },
  computed: {},
  watch: {},
  mounted() {
    Object.keys(total).forEach(key => {
      this.totalList.push({
        type: `===${key}===`,
        body: total[key]
      })
    })
    this.totalList[0].body[0].isSelect = true
    this.content = this.handelContent(this.totalList[0].body[0].content)
  },
  methods: {
    //添加题目
    add() {
      console.log(11111)
      this.$router.push({
        path: 'add'
      })
    },
    //选择题目
    select(val) {
      this.totalList.forEach(item => {
        item.body.forEach(list => {
          list.isSelect = false
        })
      })
      val.isSelect = true
      this.totalList.push({})
      this.totalList.pop()
      this.content = this.handelContent(val.content)
    },
    //处理内容转换成标签
    handelContent(content) {
      const reg = /\d+\(([^$]*)\)/g
      this.contentList = content.match(reg)
      console.log(this.contentList, 'contentList')
      return this.replaceContent(content)
    },
    //将匹配出来的字符串替换
    replaceContent(content) {
      this.contentList &&
        this.contentList.forEach(item => {
          item = item + '$'
          const { text, type } = this.spiltContent(item)
          switch (item[0]) {
            //标题类
            case '1':
              content = content.replaceAll(
                item,
                `<div class="title-${type}">${text}</div>`
              )
              break
            //图片类
            case '2':
              content = content.replaceAll(
                item,
                `<img class="img-${type}" src="${text}" alt=""/>`
              )
              break
            //特殊字符类
            case '3':
              content = content.replaceAll(
                item,
                `<div class="char-${type}">${text}</div>`
              )
              break
            //代码类
            case '4':
              content = content.replaceAll(
                item,
                `<div class="code-${type}">${text}</div>`
              )
              break
          }
        })
      return content
    },
    //分离出内容和类型
    spiltContent(item) {
      const text = item.substring(item.indexOf('(') + 1, item.length - 2)
      console.log(text, 'text')
      const type = item.substring(1, item.indexOf('(')) || 1
      return {
        text,
        type
      }
    }
  }
}
</script>
<style lang="less" scoped>
.home {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  .add {
    position: fixed;
    right: 20px;
    top: 20px;
    height: auto;
  }
}
</style>
