<template>
  <div class="content">
    <div class="content-header"></div>
    <div class="content-body" v-html="content"></div>
  </div>
</template>

<script>
export default {
  name: 'Content',
  props: {
    content: {
      type: String,
      default() {
        return ''
      }
    }
  },
  components: {},
  data() {
    return {
      contentList: []
    }
  },
  computed: {},
  watch: {},
  mounted() {},
  methods: {}
}
</script>

<style lang="less">
.content {
  // position: absolute;
  width: 100%;
  // left: 369px;
  height: 100%;
  overflow: auto;
  .content-body {
    text-align: left;
    white-space: pre;
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 15px 40px 15px;
    // color: #333;
    //标题类
    .title-1 {
      font-size: 28px;
      font-weight: bold;
      color: #2674ba;
    }
    .title-2 {
      font-size: 26px;
      font-weight: bold;
      color: #0099cc;
    }
    .title-3 {
      font-size: 24px;
      font-weight: bold;
      color: #f77a0b;
    }
    //图片类
    .img-1 {
    }
    //特殊字符类
    .char-1 {
      display: inline-block;
      padding: 2px 6px;
      background-color: #f7f7f7;
      font-size: 12px;
      font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    }
    //代码类
    .code-1 {
      border-radius: 3px;
      padding: 14px 16px;
      background: #f7f8f9;
      font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    }
  }
}
</style>
