<template>
  <div class="nav">
    <div class="search-input">
      <input
        class="input"
        type="text"
        placeholder="输入并搜索"
        v-model="value"
        @change="change"
      />
    </div>
    <div class="navigation">
      <div class="navigation-box" v-for="item in totalList" :key="item.type">
        <div class="type">{{ item.type }}</div>
        <div class="title" v-for="(list, index) in item.body" :key="list.title">
          <div
            class="title-text"
            :class="{ select: list.isSelect }"
            @click="select(list)"
          >
            {{ index + 1 }}.{{ list.title }}</div
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Nav',
  props: {
    totalList: {
      type: Array,
      default() {
        return []
      }
    }
  },
  data() {
    return {
      value: ''
    }
  },
  computed: {},
  watch: {},
  mounted() {},
  methods: {
    change() {
      console.log(this.value)
    },
    select(val) {
      this.$emit('select', val)
    }
  }
}
</script>

<style scoped lang="less">
.nav {
  width: 369px;
  // position: absolute;
  // left: 0;
  height: 100%;
  .search-input {
    background: inherit;
    padding: 6px;
    transition: top 0.5s ease;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    margin-bottom: 10px;
    margin-top: -1px;
    .input {
      width: 100%;
      background: 0 0;
      border: 1px solid transparent;
      box-shadow: none;
      outline: 0;
      line-height: 22px;
      padding: 7px 7px;
      color: inherit;
    }
  }
  .navigation {
    &-box {
      text-align: left;
      .type {
        padding: 10px 15px;
        padding-top: 20px;
        text-transform: uppercase;
        color: #939da3;
      }
      .title {
        &-text {
          cursor: pointer;
          display: block;
          padding: 10px 15px 10px 30px;
          border-bottom: none;
          color: #364149;
          background: 0 0;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          position: relative;
        }
        &-text:hover {
          text-decoration: underline;
        }
        .select {
          color: #008cff;
        }
      }
    }
  }
}
</style>
