<template>
  <div id="app">
    <!-- <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div> -->
    <router-view />
  </div>
</template>

<style lang="less">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  font-size: 14px;
  height: 100%;
}
html,
body,
.gy,
.page {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
}
.gy,
input,
button,
textarea,
select {
  font-family: pfh, 'Microsoft YaHei', Tahoma, Helvetica, Arial, '\5b8b\4f53',
    sans-serif;
}
</style>
